/**=====================================
*				GENERAL
======================================*/


/**=====================================
*				HEADER
======================================*/

#mainmenu #home a {
	color: #308930;
}

/**=====================================
*				CONTENT
======================================*/

.banner {
	width: 100%;
	height: 32rem;
	background-image: url(../img/group_of_scientists.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

}

#slogan {
	height: 32rem;
	width: 40%;
	background-color: #6FB209;
	position: relative;
	margin-left: 1%;	
}

#slogan p {
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 4rem;
	font-weight: normal;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
	margin-bottom: 2.5rem;
	position: absolute;
	bottom: 0;
}

#leftcontent {
	width: 60%;
	float: left;
	margin-right: 3%;
}

#leftcontent article {
	margin: 2rem;
}

#leftcontent h1 {
	font-size: 2.6rem;
	font-weight: normal;
	margin-bottom: 0.8rem;
}

#leftcontent #aboutimg {
	width: 100%;
	margin-bottom: 1rem;
}

#leftcontent article ul {
	list-style: none;
	margin-top: 4rem;
	width: 100%;
}

#leftcontent article li {
	display: inline-block;
	text-align: center;
	width: 32%;
}

#leftcontent article li a p {
 	margin: 2rem;
}

#leftcontent article li a p span {
	display: block;
}

#leftcontent article li a img {
	max-width: 100%;
	height: auto;
}

#leftcontent article li a {
	text-decoration: none;
	color: #000000;
}

#leftcontent article:nth-of-type(2) {
	clear: both;
	border-top: solid #000000 1px;
	padding-top: 3rem;
}

#rightcontent {
	width: 34%;
	margin-left: 1.5%;
	float: left;
	background-color: #CEE6F5;
	margin-right: 1.5%;
}

#rightcontent article {
	margin: 2rem;
}

#rightcontent article img {
	width: 100%;
}

#rightcontent h2 {
	font-size: 2.6rem;
	margin-left: 2rem;
	margin-top: 2rem;
	font-weight: normal;
}

#rightcontent article h1 {
	font-size: 1.8rem;
	margin-top: 1rem;
	font-weight: lighter;
}

.date {
	font-size: 1.8rem;
	font-weight: normal;
	margin-bottom: 1.4rem;
}

#leftcontent article p {
	margin-right: 2rem;
}

article p {
	font-size: 1.7rem;
	font-weight: 400;
}

.readmore {
	text-decoration: none;
	color: #FFFFFF;
	margin: 1rem 0;
	background-color: rgba(18,63,178,1);
	padding: 0.7rem 2rem;
	font-size: 1.5rem;
	display: inline-block;
	border-bottom: 2px rgba(18,10,178,1) solid;
	transition: ease-in-out 0.5s;
	font-weight: lighter;
}

.readmore:hover {
	background-color: rgba(18,63,178,0.3);
	border-bottom: 2px rgba(18,10,178,0.3) solid;
}

/* =====================================
*  			MEDIAQUERIES
===================================== */

@media (max-width: 45em) {
	.banner {
		height: 20rem;
	}

	#slogan {
		height: 20rem;
		margin-left: 2%;
	}

	#slogan p {
		font-size: 3rem;
	}

	#leftcontent {
		float: none;
		width: 100%;
	}

	#leftcontent article li a img {
		width: 30%;
		height: auto;
	}

	#rightcontent {
		float: none;
		width: 90%;
		margin: 0 auto;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
}

@media (max-width: 30em) {
	#slogan p {
		font-size: 2.5rem;
	}
}

@media (max-width: 25em) {
	#slogan p {
		font-size: 2rem;
	}
}

@media (max-width: 20em) {
	#slogan p {
		font-size: 1.5rem;
		margin-left: 1rem;
	}
	
	#leftcontent article li a p {
 		font-size: 1rem;
 		margin-left: 1rem;
	}
}