/**
 *	General stylesheet for Webtechnieken project
 *	@author Arnaud Weyts <arnaud.weyts@student.odisee.be>
 *	@version 3-25-2015
 */

/**=====================================
*				GENERAL
======================================*/

html {
	font-size: 62.5%;
	font-family: 'Source Sans Pro', sans-serif;
}

* {
	margin: 0; /* wipe out browser differences for default values */
	padding: 0; /* wipe out browser differences for default values  */
	-webkit-box-sizing: border-box; /* use border-box box model everywhere */
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.contentwrapper {
	max-width: 99.2rem;
	margin: 0 auto;
}

.smallbanner {
	width: 100%;
	background-color: #6FB209;
	padding: 4rem 0;
}

.smallbanner div h2 {
	font-size: 4rem;
	font-weight: normal;
	color: #FFFFFF;
	margin: 0 2%;
}

/**=====================================
*				HEADER
======================================*/

header {
	width: 100%;
	margin-bottom: 1.2rem;
}

header h1 {
	padding: 1.2rem;
}

header h1 a {
	background-image: url("../img/headerlogo.png");
	width: 17.5rem;
	height: 7.5rem;
	background-repeat: no-repeat;
	margin: 0 auto;
}

#mainmenu {
	text-align: center;
}

#mainmenu li {
	display: inline-block;
	padding: 1rem 8rem;
	font-size: 1.8rem;
}

#mainmenu li:not(#home) {
	border-left: 1px solid #6BA600;
}

#mainmenu li a {
	text-decoration: none;
	color: #000000; 
	font-weight: 400;
	transition: ease-in-out 0.3s;
}

#mainmenu li a:hover {
	color: #A3DE3A;
}



/**=====================================
*				FOOTER
======================================*/

footer {
	clear: both;
	height: 10rem;
	background-color: #000000;
}

footer p {
	margin-left: 2rem;
	margin-right: 2rem;
	color: #FFFFFF;
	font-size: 1.4rem;
    line-height: 10rem;
    margin-top: -10rem;
}

footer p a {
	color: #FFFFFF;
}

p#icons {
	float: right;
	font-size: 2.5rem;
}

p#icons a i {
	margin: 0.3rem;
}

p#icons a {
	color: #FFFFFF;
	text-decoration: none;
}

/* ===========================================
   Mediaqueries
   =========================================== */

@media (max-width: 45em) {
	#mainmenu li {
		display: table;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	#mainmenu li:not(#home) {
		border: none;
		border-top: 1px solid #6BA600;
	}

	footer div p {
		line-height: normal;
		margin-top: 0rem;
		text-align: center;
	}

	p#copyright {
		padding-top: 2rem;
	}

	p#icons {
		margin-top: 1rem;
		float: none;
	}
}

@media (max-width: 20em) {
	p#copyright {
		padding-top: 1rem;
	}
	p#icons {
		font-size: 1.5rem;
	}
	.smallbanner div h2 {
		font-size: 2.2rem;
	}
}